In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(20)

0          03/25/93 Total time of visit (in minutes):\n
1                        6/18/85 Primary Care Doctor:\n
2     sshe plans to move as of 7/8/71 In-Home Servic...
3                 7 on 9/27/75 Audit C Score Current:\n
4     2/6/96 sleep studyPain Treatment Pain Level (N...
5                     .Per 7/06/79 Movement D/O note:\n
6     4, 5/18/78 Patient's thoughts about current su...
7     10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                          3/7/86 SOS-10 Total Score:\n
9              (4/10/71)Score-1Audit C Score Current:\n
10    (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                        4/09/75 SOS-10 Total Score:\n
12    8/01/98 Communication with referring physician...
13    1/26/72 Communication with referring physician...
14    5/24/1990 CPT Code: 90792: With medical servic...
15    1/25/2011 CPT Code: 90792: With medical servic...
16          4/12/82 Total time of visit (in minutes):\n
17         1; 10/13/1976 Audit C Score, Highest/Date:\n
18                  4, 4/24/98 Relevant Drug History:\n
19    ) 59 yo unemployed w referred by Urgent Care f...
dtype: object

In [2]:
all_indexes = []
all_dates = []

In [3]:
import re

typeOneDates = []
typeOneIdx = -1

for string in df:
    date = re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', string)
    typeOneIdx += 1
    if len(date) > 0:
        typeOneDates.append((typeOneIdx, date))

In [4]:
typeOneDates

[(0, ['03/25/93']),
 (1, ['6/18/85']),
 (2, ['7/8/71']),
 (3, ['9/27/75']),
 (4, ['2/6/96']),
 (5, ['7/06/79']),
 (6, ['5/18/78']),
 (7, ['10/24/89']),
 (8, ['3/7/86']),
 (9, ['4/10/71']),
 (10, ['5/11/85']),
 (11, ['4/09/75']),
 (12, ['8/01/98']),
 (13, ['1/26/72']),
 (14, ['5/24/1990']),
 (15, ['1/25/2011']),
 (16, ['4/12/82']),
 (17, ['10/13/1976']),
 (18, ['4/24/98']),
 (19, ['5/21/77']),
 (20, ['7/21/98']),
 (21, ['10/21/79']),
 (22, ['3/03/90']),
 (23, ['2/11/76']),
 (24, ['07/25/1984']),
 (25, ['4-13-82']),
 (26, ['9/22/89']),
 (27, ['9/02/76']),
 (28, ['9/12/71']),
 (29, ['10/24/86']),
 (30, ['03/31/1985']),
 (31, ['7/20/72']),
 (32, ['4/12/87']),
 (33, ['06/20/91']),
 (34, ['5/12/2012']),
 (35, ['3/15/83']),
 (36, ['2/14/73']),
 (37, ['5/24/88']),
 (38, ['7/27/1986']),
 (39, ['1-14-81']),
 (40, ['7-29-75']),
 (41, ['6/24/87']),
 (42, ['8/14/94']),
 (43, ['4/13/2002']),
 (44, ['8/16/82']),
 (45, ['2/15/1998']),
 (46, ['7/15/91']),
 (47, ['06/12/94']),
 (48, ['9/17/84']),
 (49, ['2/28/75']),
 (50, ['11/22/75']),
 (51, ['5/24/91']),
 (52, ['6/13/92']),
 (53, ['7/11/71']),
 (54, ['12/26/86']),
 (55, ['10/11/1987']),
 (56, ['3/14/95']),
 (57, ['12/01/73']),
 (58, ['12/5/2010']),
 (59, ['08/20/1982']),
 (60, ['7/24/95']),
 (61, ['8/06/83']),
 (62, ['02/22/92']),
 (63, ['6/28/87']),
 (64, ['07/29/1994']),
 (65, ['08/11/78']),
 (66, ['10/29/91']),
 (67, ['7/6/91']),
 (68, ['1/21/87']),
 (69, ['11/3/1985']),
 (70, ['7/04/82']),
 (71, ['4-13-89']),
 (72, ['7/11/77', '9/36/308']),
 (73, ['4/12/74']),
 (74, ['09/19/81']),
 (75, ['9/6/79']),
 (76, ['12/5/87']),
 (77, ['01/05/1999']),
 (78, ['4/22/80']),
 (79, ['10/04/98']),
 (80, ['6/29/81']),
 (81, ['8/04/78']),
 (82, ['7/07/1974']),
 (83, ['09/14/2000']),
 (84, ['5/18/71']),
 (85, ['8/09/1981']),
 (86, ['6/05/93']),
 (87, ['8/9/97']),
 (88, ['12/8/82']),
 (89, ['8/26/89']),
 (90, ['10/13/95']),
 (91, ['4/19/91']),
 (92, ['04/08/2004']),
 (93, ['9/20/76']),
 (94, ['12/08/1990']),
 (95, ['4/11/1974']),
 (96, ['7/18/86']),
 (97, ['3/31/91']),
 (98, ['5/13/72']),
 (99, ['11/14/83']),
 (100, ['8/16/92']),
 (101, ['10/05/97']),
 (102, ['07/18/2002']),
 (103, ['9/22/82']),
 (104, ['2/24/74']),
 (105, ['2/03/78']),
 (106, ['2/11/2006']),
 (107, ['8/22/83']),
 (108, ['5/04/74']),
 (109, ['7/20/2011']),
 (110, ['6/17/95']),
 (111, ['6/10/72']),
 (112, ['10/16/82']),
 (113, ['12/15/92']),
 (114, ['12/8/97']),
 (115, ['4/05/89']),
 (116, ['12/04/87']),
 (117, ['6/20/77']),
 (118, ['4/27/2006']),
 (119, ['07/17/92']),
 (120, ['12/22/98']),
 (121, ['10/02/96']),
 (122, ['11/05/90']),
 (123, ['5/04/77']),
 (124, ['2/27/96'])]

In [5]:
#type two: July 11, 1997

typeTwoDates = []
typeTwoIdx = -1

In [6]:
for string in df:
    date = re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}', string)
    typeTwoIdx += 1
    if len(date) > 0:
        typeTwoDates.append((typeTwoIdx, date))

In [7]:
typeTwoDates

[(125, ['24 Jan 2001']),
 (126, ['10 Sep 2004']),
 (127, ['26 May 1982']),
 (128, ['28 June 2002']),
 (129, ['06 May 1972']),
 (130, ['25 Oct 1987']),
 (131, ['14 Oct 1996']),
 (132, ['30 Nov 2007']),
 (133, ['28 June 1994']),
 (134, ['14 Jan 1981']),
 (135, ['10 Oct 1985']),
 (136, ['11 February 1985']),
 (137, ['10 Feb 1983']),
 (138, ['05 Feb 1992']),
 (139, ['21 Oct 2012']),
 (140, ['14 Feb 1995']),
 (141, ['30 May 2016']),
 (142, ['22 Jan 1996']),
 (143, ['14 Oct 1992']),
 (144, ['06 Oct 2003']),
 (145, ['18 Oct 1999']),
 (146, ['11 Nov 2004']),
 (147, ['30 May 2001']),
 (148, ['02 Feb 1978']),
 (149, ['09 Sep 1989']),
 (150, ['12 March 1980']),
 (151, ['22 June 1990']),
 (152, ['28 Sep 2015']),
 (153, ['13 Jan 1972']),
 (154, ['06 Mar 1974']),
 (155, ['10 Oct 1974']),
 (156, ['26 May 1974']),
 (157, ['10 Feb 1990']),
 (158, ['23 Aug 2000']),
 (159, ['26 May 2001']),
 (160, ['21 Oct 2007']),
 (161, ['19 Oct 2016']),
 (162, ['05 Mar 1974']),
 (163, ['29 Jan 1994']),
 (164, ['21 Oct 1978']),
 (165, ['18 August 1975']),
 (166, ['11 Nov 1996']),
 (167, ['01 Oct 1979']),
 (168, ['13 Oct 1986']),
 (169, ['21 Oct 1995']),
 (170, ['24 Jan 2011']),
 (171, ['04 Oct 1972']),
 (172, ['23 Aug 1993']),
 (173, ['18 Oct 2006']),
 (174, ['04 Dec 1988']),
 (175, ['21 Oct 1983']),
 (176, ['26 May 2010']),
 (177, ['18 Jan 1990']),
 (178, ['15 Jun 1985']),
 (179, ['10 Dec 1982']),
 (180, ['09 Dec 1988']),
 (181, ['18 August 1995']),
 (182, ['13 June 1974']),
 (183, ['26 May 2008']),
 (184, ['11 Nov 2002']),
 (185, ['17 Aug 1985']),
 (186, ['13 Oct 2016']),
 (187, ['14 Jan 2008']),
 (188, ['12 March 2004']),
 (189, ['21 Oct 1977']),
 (190, ['10 Aug 2000']),
 (191, ['30 Nov 1972']),
 (192, ['06 May 1993']),
 (193, ['18 Jan 1995']),
 (194, ['April 11, 1990']),
 (195, ['May 30, 2001']),
 (196, ['Feb 18, 1994']),
 (197, ['February 18, 1981']),
 (200, ['July 26, 1978']),
 (201, ['December 23, 1999']),
 (202, ['May 15, 1989']),
 (203, ['September 06, 1995']),
 (205, ['Jan 27, 1983']),
 (208, ['September 01, 2012']),
 (209, ['July 25, 1983']),
 (210, ['August 11, 1989']),
 (211, ['April 17, 1992']),
 (212, ['July 24, 1999']),
 (213, ['July 11, 1997']),
 (215, ['August 14, 1981']),
 (216, ['Nov 11, 1988']),
 (217, ['June 13, 2011']),
 (218, ['May 14, 1989']),
 (220, ['June 25, 2012']),
 (221, ['Oct 18, 1980']),
 (222, ['May 15, 1998']),
 (224, ['July 25, 1998']),
 (225, ['June 15, 1972']),
 (226, ['January 07, 1991']),
 (228, ['September 1985']),
 (229, ['June 2011']),
 (230, ['May 1986']),
 (231, ['May 2016']),
 (232, ['July 1977']),
 (234, ['Jul 2003']),
 (235, ['Oct 2015']),
 (236, ['May 1995']),
 (237, ['February 1976']),
 (238, ['January 1995']),
 (239, ['Feb 1978']),
 (241, ['May 2004']),
 (242, ['Nov 2010']),
 (243, ['Sep 2012']),
 (245, ['November 1990']),
 (246, ['July 1981']),
 (247, ['May 1983']),
 (248, ['July 1995']),
 (249, ['April 1993']),
 (250, ['May 2005']),
 (251, ['December 1998']),
 (252, ['Jan 2007']),
 (253, ['Feb 2016']),
 (254, ['August 1979']),
 (255, ['Oct 2014']),
 (256, ['Aug 1988']),
 (257, ['Sep 2015']),
 (258, ['Apr 1976']),
 (259, ['Nov 1979']),
 (260, ['February 2000']),
 (261, ['Oct 1986']),
 (262, ['Jun 2002']),
 (263, ['September 1981']),
 (264, ['June 2007']),
 (265, ['April 1989']),
 (266, ['September 1999']),
 (267, ['Oct 1980']),
 (268, ['Dec 2009']),
 (269, ['July 1992']),
 (271, ['August 2008']),
 (272, ['Feb 1993']),
 (274, ['April 1985']),
 (275, ['September 1984']),
 (276, ['April 1986']),
 (277, ['Apr 2007']),
 (278, ['September 1974']),
 (279, ['Sep 2013']),
 (280, ['July 1985']),
 (281, ['Aug 2004']),
 (282, ['May 2012']),
 (283, ['Feb 1977']),
 (284, ['Jan 1987']),
 (285, ['Sep 1983']),
 (286, ['January 2013']),
 (287, ['Mar 2010']),
 (288, ['August 2009']),
 (289, ['Sep 2007']),
 (290, ['December 2011']),
 (291, ['Jan 2004']),
 (292, ['November 1995']),
 (293, ['September 2008']),
 (294, ['February 1983']),
 (295, ['March 1983']),
 (296, ['Aug 1979']),
 (297, ['Jan 2009']),
 (298, ['Janaury 1993']),
 (299, ['March 1974']),
 (300, ['January 1994']),
 (301, ['Dec 1992']),
 (302, ['November 2004']),
 (303, ['January 1977']),
 (304, ['Mar 2002']),
 (305, ['Feb 2000']),
 (307, ['July 2006']),
 (308, ['Feb 1994']),
 (309, ['April 1977']),
 (310, ['Oct 1992']),
 (312, ['February 1989']),
 (313, ['Decemeber 1978']),
 (314, ['January 2007']),
 (315, ['Jun 1976']),
 (316, ['May 2011']),
 (318, ['Jan 1978']),
 (319, ['July 1975']),
 (320, ['November 2012']),
 (322, ['October 1991']),
 (323, ['March 1973']),
 (324, ['October 1996']),
 (325, ['Jun 2007']),
 (326, ['October 1995']),
 (327, ['April 1999']),
 (330, ['April 1988']),
 (331, ['December 1993']),
 (332, ['June 1974']),
 (333, ['November 1997']),
 (334, ['July 1986']),
 (335, ['February 1973']),
 (336, ['March 1978']),
 (337, ['Dec 2007']),
 (340, ['May 1980']),
 (341, ['Nov 2007']),
 (342, ['March 1976'])]

In [8]:
#type three: 6/1998
typeThreeDates = []
typeThreeIdx = -1

for string in df:
    date = re.findall(r'\d{1,2}[/-]\d{4}', string)
    typeThreeIdx += 1
    if len(date) > 0 and typeThreeIdx>342:
        typeThreeDates.append((typeThreeIdx, date))

In [9]:
typeThreeDates

[(343, ['6/1998']),
 (344, ['6/2005']),
 (345, ['10/1973']),
 (346, ['9/2005']),
 (347, ['03/1980']),
 (348, ['12/2005']),
 (349, ['5/1987']),
 (350, ['5/2004']),
 (351, ['8/1974']),
 (352, ['3/1986']),
 (353, ['10/1997']),
 (354, ['3/1993']),
 (355, ['3/1981']),
 (356, ['9/2003']),
 (357, ['10/1993']),
 (358, ['1/1983']),
 (359, ['7/1994']),
 (360, ['12/2008']),
 (361, ['10/1980']),
 (362, ['8/2003']),
 (363, ['12/1975']),
 (364, ['11/2010']),
 (365, ['7/1997']),
 (366, ['7/2014']),
 (367, ['9/2001']),
 (368, ['8/1986']),
 (369, ['1/1978']),
 (370, ['9/1975']),
 (371, ['1/2009']),
 (372, ['5/1995']),
 (373, ['8/1989']),
 (374, ['11/2000']),
 (375, ['06/1973']),
 (376, ['2/1999']),
 (377, ['6/2001']),
 (378, ['12/1978']),
 (379, ['8/2009']),
 (380, ['7/1973']),
 (381, ['1/2014']),
 (382, ['09/1975']),
 (383, ['12/2012']),
 (384, ['5/1999']),
 (385, ['7/1989']),
 (386, ['7/2009']),
 (387, ['11/1998']),
 (388, ['3/1995']),
 (389, ['2/2009']),
 (390, ['08/1988']),
 (391, ['4/2007']),
 (392, ['5/2000']),
 (393, ['4/2012']),
 (394, ['10/2001']),
 (395, ['2/1977']),
 (396, ['8/2008']),
 (397, ['2/1983']),
 (398, ['5/1979']),
 (399, ['1/1992']),
 (400, ['11/2008']),
 (401, ['12/2014']),
 (402, ['4/1974']),
 (403, ['10/1981']),
 (404, ['10/1986']),
 (405, ['03/1973']),
 (406, ['12/1994']),
 (407, ['8/1999']),
 (408, ['10/2010']),
 (409, ['10/1994']),
 (410, ['01/2007']),
 (411, ['8/2010']),
 (412, ['03/1990']),
 (413, ['11/2016']),
 (414, ['4/2004']),
 (415, ['2/1973']),
 (416, ['7/1987']),
 (417, ['8/2000']),
 (418, ['8/1975']),
 (419, ['5/1977']),
 (420, ['3/2000']),
 (421, ['9/1984']),
 (422, ['4/1973']),
 (423, ['12/1986']),
 (424, ['4/1979']),
 (425, ['7/2004']),
 (426, ['11/1984']),
 (427, ['5/2016']),
 (428, ['12/2007']),
 (429, ['11/1982']),
 (430, ['06/1981']),
 (431, ['4/2013']),
 (432, ['4/1999']),
 (433, ['5/2006']),
 (434, ['10/1978']),
 (435, ['12/1989']),
 (436, ['2/1974']),
 (437, ['11/1986']),
 (438, ['4/1983']),
 (439, ['10/2014']),
 (440, ['6/1989']),
 (441, ['9/1980']),
 (442, ['9/1992']),
 (443, ['9/2000']),
 (444, ['7/1981']),
 (445, ['1/2008']),
 (446, ['4/2002']),
 (447, ['7/1985']),
 (448, ['5/2010']),
 (449, ['8/2002']),
 (450, ['1/1994']),
 (451, ['12/2004']),
 (452, ['3/2003']),
 (453, ['7/1991']),
 (454, ['7/1982'])]

In [10]:
#type four: 1998
typeFourDates = []
typeFourIdx = -1

for string in df:
    date = re.findall(r'\d{4}', string)
    typeFourIdx += 1
    if len(date) > 0 and typeFourIdx>454:
        typeFourDates.append((typeFourIdx, date))

In [11]:
typeFourDates

[(455, ['1984']),
 (456, ['2000']),
 (457, ['2001']),
 (458, ['1982']),
 (459, ['1998']),
 (460, ['2012']),
 (461, ['1991']),
 (462, ['1988']),
 (463, ['2014']),
 (464, ['2016']),
 (465, ['1976']),
 (466, ['1981']),
 (467, ['2011']),
 (468, ['1997']),
 (469, ['2003']),
 (470, ['1983']),
 (471, ['1999']),
 (472, ['2010']),
 (473, ['1975']),
 (474, ['1972']),
 (475, ['2015']),
 (476, ['1989']),
 (477, ['1994']),
 (478, ['1993']),
 (479, ['1996']),
 (480, ['2013']),
 (481, ['1974']),
 (482, ['1990']),
 (483, ['1995']),
 (484, ['2004']),
 (485, ['1987']),
 (486, ['1973']),
 (487, ['1992']),
 (488, ['1977']),
 (489, ['1985']),
 (490, ['2007']),
 (491, ['2009']),
 (492, ['1986']),
 (493, ['1978']),
 (494, ['2002']),
 (495, ['1979']),
 (496, ['2006']),
 (497, ['2008']),
 (498, ['2005']),
 (499, ['1980'])]

In [12]:
for dateOne in typeOneDates:
    if '/' in dateOne[1][0]:
        month_day_year = dateOne[1][0].split('/')
    elif '-' in dateOne[1][0]:
        month_day_year = dateOne[1][0].split('-')
    #print(month_day_year)
    
    if len(month_day_year[0]) == 1:
        monthOne = '0' + month_day_year[0]
    else:
        monthOne = month_day_year[0]
    #print(monthOne)
    
    if len(month_day_year[1]) == 1:
        dayOne = '0' + month_day_year[1]
    else:
        dayOne = month_day_year[1]
    #print(dayOne)

    if len(month_day_year[2]) == 2:
        if int(month_day_year[2]) > 30:
            yearOne = '19' + month_day_year[2]
        elif int(month_day_year[2]) <30:
            yearOne = '20' + month_day_year[2]
    else:
        yearOne = month_day_year[2]
    #print(yearOne)
    print(dateOne[0], yearOne+monthOne+dayOne)
    all_indexes.append(dateOne[0])
    all_dates.append(yearOne+monthOne+dayOne)

0 19930325
1 19850618
2 19710708
3 19750927
4 19960206
5 19790706
6 19780518
7 19891024
8 19860307
9 19710410
10 19850511
11 19750409
12 19980801
13 19720126
14 19900524
15 20110125
16 19820412
17 19761013
18 19980424
19 19770521
20 19980721
21 19791021
22 19900303
23 19760211
24 19840725
25 19820413
26 19890922
27 19760902
28 19710912
29 19861024
30 19850331
31 19720720
32 19870412
33 19910620
34 20120512
35 19830315
36 19730214
37 19880524
38 19860727
39 19810114
40 19750729
41 19870624
42 19940814
43 20020413
44 19820816
45 19980215
46 19910715
47 19940612
48 19840917
49 19750228
50 19751122
51 19910524
52 19920613
53 19710711
54 19861226
55 19871011
56 19950314
57 19731201
58 20101205
59 19820820
60 19950724
61 19830806
62 19920222
63 19870628
64 19940729
65 19780811
66 19911029
67 19910706
68 19870121
69 19851103
70 19820704
71 19890413
72 19770711
73 19740412
74 19810919
75 19790906
76 19871205
77 19990105
78 19800422
79 19981004
80 19810629
81 19780804
82 19740707
83 20000914
84 19710518
85 19810809
86 19930605
87 19970809
88 19821208
89 19890826
90 19951013
91 19910419
92 20040408
93 19760920
94 19901208
95 19740411
96 19860718
97 19910331
98 19720513
99 19831114
100 19920816
101 19971005
102 20020718
103 19820922
104 19740224
105 19780203
106 20060211
107 19830822
108 19740504
109 20110720
110 19950617
111 19720610
112 19821016
113 19921215
114 19971208
115 19890405
116 19871204
117 19770620
118 20060427
119 19920717
120 19981222
121 19961002
122 19901105
123 19770504
124 19960227

In [13]:
monstrToMonint= {'Jan': '01', 'Janaury': '01','January':'01', 'Feb':'02', 'February':'02', 'Mar':'03', 'March':'03', 
                 'April':'04', 'Apr':'04', 'May':'05', 
               'June':'06', 'Jun':'06', 'July':'07', 'Jul':'07', 'August':'08', 'Aug':'08', 'September':'09', 'Sep':'09', 
                 'October':'10', 'Oct':'10', 'November':'11', 'Nov':'11', 'December':'12', 'Dec':'12', 'Decemeber':'12'}

In [14]:
for dateTwo in typeTwoDates:
    if dateTwo[0] < 194:
        #print(dateTwo[1][0].split(' '))
        day_month_year = dateTwo[1][0].split(' ')
        
        dayTwo = day_month_year[0]
        #print(dayTwo)

        monthTwo = monstrToMonint[day_month_year[1]]
        #print(monthTwo)
        
        yearTwo = day_month_year[2]
        #print(yearTwo)
        
        print(dateTwo[0], yearTwo+monthTwo+dayTwo)
        all_indexes.append(dateTwo[0])
        all_dates.append(yearTwo+monthTwo+dayTwo)

125 20010124
126 20040910
127 19820526
128 20020628
129 19720506
130 19871025
131 19961014
132 20071130
133 19940628
134 19810114
135 19851010
136 19850211
137 19830210
138 19920205
139 20121021
140 19950214
141 20160530
142 19960122
143 19921014
144 20031006
145 19991018
146 20041111
147 20010530
148 19780202
149 19890909
150 19800312
151 19900622
152 20150928
153 19720113
154 19740306
155 19741010
156 19740526
157 19900210
158 20000823
159 20010526
160 20071021
161 20161019
162 19740305
163 19940129
164 19781021
165 19750818
166 19961111
167 19791001
168 19861013
169 19951021
170 20110124
171 19721004
172 19930823
173 20061018
174 19881204
175 19831021
176 20100526
177 19900118
178 19850615
179 19821210
180 19881209
181 19950818
182 19740613
183 20080526
184 20021111
185 19850817
186 20161013
187 20080114
188 20040312
189 19771021
190 20000810
191 19721130
192 19930506
193 19950118

In [15]:
for dateTwo in typeTwoDates:
    if 193 < dateTwo[0] < 228:
        month_day_year = dateTwo[1][0].split(' ')
        #print(month_day_year)
        
        dayTwo = month_day_year[1][:-1]
        #print(dayTwo)

        monthTwo = monstrToMonint[month_day_year[0]]
        #print(monthTwo)
        
        yearTwo = month_day_year[2]
        #print(yearTwo)
        
        print(dateTwo[0], yearTwo+monthTwo+dayTwo)
        all_indexes.append(dateTwo[0])
        all_dates.append(yearTwo+monthTwo+dayTwo)

194 19900411
195 20010530
196 19940218
197 19810218
200 19780726
201 19991223
202 19890515
203 19950906
205 19830127
208 20120901
209 19830725
210 19890811
211 19920417
212 19990724
213 19970711
215 19810814
216 19881111
217 20110613
218 19890514
220 20120625
221 19801018
222 19980515
224 19980725
225 19720615
226 19910107

In [16]:
for dateTwo in typeTwoDates:
    if dateTwo[0] > 226:
        month_day_year = dateTwo[1][0].split(' ')
        #print(month_day_year)
        
        dayTwo = '01'
        #print(dayTwo)

        monthTwo = monstrToMonint[month_day_year[0]]
        #print(monthTwo)
        
        yearTwo = month_day_year[1]
        #print(yearTwo)
        
        print(dateTwo[0], yearTwo+monthTwo+dayTwo)
        all_indexes.append(dateTwo[0])
        all_dates.append(yearTwo+monthTwo+dayTwo)

228 19850901
229 20110601
230 19860501
231 20160501
232 19770701
234 20030701
235 20151001
236 19950501
237 19760201
238 19950101
239 19780201
241 20040501
242 20101101
243 20120901
245 19901101
246 19810701
247 19830501
248 19950701
249 19930401
250 20050501
251 19981201
252 20070101
253 20160201
254 19790801
255 20141001
256 19880801
257 20150901
258 19760401
259 19791101
260 20000201
261 19861001
262 20020601
263 19810901
264 20070601
265 19890401
266 19990901
267 19801001
268 20091201
269 19920701
271 20080801
272 19930201
274 19850401
275 19840901
276 19860401
277 20070401
278 19740901
279 20130901
280 19850701
281 20040801
282 20120501
283 19770201
284 19870101
285 19830901
286 20130101
287 20100301
288 20090801
289 20070901
290 20111201
291 20040101
292 19951101
293 20080901
294 19830201
295 19830301
296 19790801
297 20090101
298 19930101
299 19740301
300 19940101
301 19921201
302 20041101
303 19770101
304 20020301
305 20000201
307 20060701
308 19940201
309 19770401
310 19921001
312 19890201
313 19781201
314 20070101
315 19760601
316 20110501
318 19780101
319 19750701
320 20121101
322 19911001
323 19730301
324 19961001
325 20070601
326 19951001
327 19990401
330 19880401
331 19931201
332 19740601
333 19971101
334 19860701
335 19730201
336 19780301
337 20071201
340 19800501
341 20071101
342 19760301

In [17]:
for dateThree in typeThreeDates:
    month_day_year = dateThree[1][0].split('/')
    #print(month_day_year)

    dayThree = '01'
    #print(dayTwo)
    
    if len(month_day_year[0]) < 2:
        monthThree = '0' + month_day_year[0]
    else:
        monthThree = month_day_year[0]
    #print(monthTwo)

    yearThree = month_day_year[1]
    #print(yearTwo)

    print(dateThree[0], yearThree+monthThree+dayThree)
    all_indexes.append(dateThree[0])
    all_dates.append(yearThree+monthThree+dayThree)

343 19980601
344 20050601
345 19731001
346 20050901
347 19800301
348 20051201
349 19870501
350 20040501
351 19740801
352 19860301
353 19971001
354 19930301
355 19810301
356 20030901
357 19931001
358 19830101
359 19940701
360 20081201
361 19801001
362 20030801
363 19751201
364 20101101
365 19970701
366 20140701
367 20010901
368 19860801
369 19780101
370 19750901
371 20090101
372 19950501
373 19890801
374 20001101
375 19730601
376 19990201
377 20010601
378 19781201
379 20090801
380 19730701
381 20140101
382 19750901
383 20121201
384 19990501
385 19890701
386 20090701
387 19981101
388 19950301
389 20090201
390 19880801
391 20070401
392 20000501
393 20120401
394 20011001
395 19770201
396 20080801
397 19830201
398 19790501
399 19920101
400 20081101
401 20141201
402 19740401
403 19811001
404 19861001
405 19730301
406 19941201
407 19990801
408 20101001
409 19941001
410 20070101
411 20100801
412 19900301
413 20161101
414 20040401
415 19730201
416 19870701
417 20000801
418 19750801
419 19770501
420 20000301
421 19840901
422 19730401
423 19861201
424 19790401
425 20040701
426 19841101
427 20160501
428 20071201
429 19821101
430 19810601
431 20130401
432 19990401
433 20060501
434 19781001
435 19891201
436 19740201
437 19861101
438 19830401
439 20141001
440 19890601
441 19800901
442 19920901
443 20000901
444 19810701
445 20080101
446 20020401
447 19850701
448 20100501
449 20020801
450 19940101
451 20041201
452 20030301
453 19910701
454 19820701

In [18]:
for dateFour in typeFourDates:   
    dayFour = '01'
    monthFour = '01'
    yearFour = dateFour[1][0]
    print(dateFour[0], yearFour+monthFour+dayFour)
    all_indexes.append(dateFour[0])
    all_dates.append(yearFour+monthFour+dayFour)

455 19840101
456 20000101
457 20010101
458 19820101
459 19980101
460 20120101
461 19910101
462 19880101
463 20140101
464 20160101
465 19760101
466 19810101
467 20110101
468 19970101
469 20030101
470 19830101
471 19990101
472 20100101
473 19750101
474 19720101
475 20150101
476 19890101
477 19940101
478 19930101
479 19960101
480 20130101
481 19740101
482 19900101
483 19950101
484 20040101
485 19870101
486 19730101
487 19920101
488 19770101
489 19850101
490 20070101
491 20090101
492 19860101
493 19780101
494 20020101
495 19790101
496 20060101
497 20080101
498 20050101
499 19800101

In [19]:
len(all_indexes)

478

In [20]:
comparison_ls = []
for num in range(0, 500):
    comparison_ls.append(num)
comparison_ls = list(set(comparison_ls) - set(all_indexes))
comparison_ls.sort()
comparison_ls

[198,
 199,
 204,
 206,
 207,
 214,
 219,
 223,
 227,
 233,
 240,
 244,
 270,
 273,
 306,
 311,
 317,
 321,
 328,
 329,
 338,
 339]

In [21]:
comparison_dates= ['20131011', '19860124', '19760310','19901023', '20040812', 
 '19740910','19751214','19741014','20110915','19900701','20110501','20130101','20060501',
 '20100201','20040501','19950201','19750301','19990602','20010501','20000301','19980401','20050301']

In [22]:
for idx in comparison_ls:
    all_indexes.insert(idx, idx)

In [23]:
for idx, elem in zip(comparison_ls,comparison_dates):
    all_dates.insert(idx, elem)

In [24]:
dates = pd.Series(all_dates)
dates.sort_values(inplace=True)
ans = pd.Series(dates.index)

In [25]:
ans.head(20)

0       9
1      84
2       2
3      53
4      28
5     474
6     153
7      13
8     129
9      98
10    111
11    225
12     31
13    171
14    191
15    486
16    335
17    415
18     36
19    405
dtype: int64